h1 {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

h3{
    font-weight: 500;
}

#Left{
    float: left;
    width: 45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 300;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;

}

#Right {
    float: right;
    width: 45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 300;
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
}

#Last {
    width: 100%;
    margin-top: 60%;
}